.container {
    width: 100%;
    margin-bottom: 5pt;
}

.label {
    display: block;
    margin-bottom: 3pt;
    margin-top: 8pt;
}

.inputField {
    width: 100%;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4pt;
}