.sliderContainer {
    width: 100%;
    text-align: center;
}

.sliderWrapper {
    position: relative;
    width: 100%;
}

.customSlider {
    width: 100%;
}

.sliderLabels {
    display: none;
    justify-content: space-between;
    font-size: 10px;
}