.sliderContainer {
    width: 100%;
    text-align: right;
}

.sliderWrapper {
    position: relative;
    width: 100%;
}

.customSlider {
    width: 100%;
}

.sliderLabels {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}