.container {
    display: flex;
    width: 100%;
    margin-top: 3pt;
    margin-bottom: 3pt;
}

.label {
    font-size: 12px;
    margin-right: 5pt;
    align-self: center;
}

.rightLabel {
    font-size: 12px;
    margin-left: 5pt;
    align-self: center;
}

.inputField {
    width: 100%;
    font-size: 12px;
    
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4pt;
}